body {
    background-image: url(https://image.ibb.co/cO9Lxq/login-bg.jpg);
}
#left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    width: 50%;
}
#signin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
}
#signin {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    margin-bottom: 50%;
    margin-left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
form {
    width: 80%;
}
.text-input {
    font-size: 100%;
    line-height: 1.15;
    background-color: transparent;
}
label {
    color: white;
    margin-right: 50%;
}
.primary-btn {
    color: white;
    background-color: rgb(62, 62, 243);
    margin-top: 20px;
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: medium;
}
#links {
    text-align: center;
}
#links a {
    color: rgb(125, 208, 233);
    text-decoration: none;
}
#links a {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
}
.secondary-btn {
    color: hsla(0,0%,100%,.95);
    background: rgba(138,153,168,.25);
    text-decoration: none;
}
p {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
h1 {
    color: white;
}
#right {
    position: relative;
    flex: 1;
    display: block;
}